# IDE config
# .vscode/

# Program output
/miniRT

# Folders to ignore
**/MLX42/
dep/
obj/

# Object files and build artifacts
*.o
*.d
*.a
*.gch

# Debug & logs
*.lldb

# Images
*.png

# Misc
# *.txt
.DS_Store
